*.py[cod]

#temp files
*.sw?

#Virtual env
/.envs/
/venv
/node_modules/

# C extensions
*.so

# Packages
/.cache
*.egg
*.egg-info
/dist
parts
var

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.project.vip
.ignore

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Cookiecutter
output/
boilerplate/
