[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
pip = "==18.0"
"e1839a8" = {editable = true, path = "."}
click = "*"

[dev-packages]
pytest = "*"
"flake8" = "*"
pytest-coverage = "*"

[requires]
python_version = "3.6"
